.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.viewPass {
    text-decoration: none;
}
.viewPass:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .movil-view {
        margin-top: 0 !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }
}